<style>
    body {
        background-color: #edf5f7;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                    href="#list-home" role="tab" aria-controls="list-home">Seviye ve Profiliniz</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                    href="#list-profile" role="tab" aria-controls="list-profile">Quiz Hakkında</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                    href="#list-messages" role="tab" aria-controls="list-messages">Kurallar</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                    href="#list-settings" role="tab" aria-controls="list-settings">Hadi Başlayalım!</a>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                            aria-labelledby="list-home-list">
                            <h4>Profiliniz ve Seviyeniz Hakkında</h4>
                            Merhaba, şu anda <bold class="fw-bold">A2</bold> seviyesindesiniz. Amacımız, sizi her dersin
                            sonunda bir üst seviyeye taşımaktır. Ders içeriklerini, siz kullanıcımızın seviyesine en
                            uygun şekilde sunabilmek için hazırlanan ve bir sonraki derse uygunluğunuzu ölçecek olan bu
                            quizi sizin için özenle tasarladık. <br> <br> Her dersin sonunda sizi bir üst seviyeye taşıyarak dil
                            becerilerinizi daha da güçlendirmektir. Size özel olarak hazırlanan ders içerikleri, öğrenme
                            tarzınıza ve dil seviyenize uygun bir şekilde tasarlanmıştır.

                            Her bir ders, sizi daha da ileri taşımak ve dil becerilerinizi pekiştirmek için özel olarak
                            planlanmıştır. Size en uygun ve etkili öğrenme deneyimini sunabilmek için seviyenizi
                            belirlemek amacıyla kullanılan bu quiz, sizin öğrenme yolculuğunuzu daha da değerli kılacak.

                            Unutmayın ki her öğrencinin öğrenme hızı ve tarzı farklıdır, bu nedenle sizinle birlikte bu
                            dil yolculuğunu şekillendirmek için buradayız. <br> <br> Eğitim materyallerimiz ve interaktif
                            içeriklerimizle birlikte, dil seviyenizi daha da yükseltmek ve dil becerilerinizi
                            geliştirmek için birlikte çalışacağız. Hedefimiz, dil becerilerinizi güçlendirirken aynı
                            zamanda eğlenceli bir öğrenme deneyimi sunmaktır.

                            Sorularınız veya destek ihtiyaçlarınız olduğunda lütfen bize ulaşın. Başarılar dileriz!





                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel"
                            aria-labelledby="list-profile-list">
                              <h4>Quiz Hakkında</h4>
                              Girmek üzere olduğunuz quiz sizin nerede hangi seviyede olduğunuzu belirlemede oldukça önemlidir. Bu quizden aldığınız sonuçlar ile eğitim içeriğiniz değişecek ve size uygun eğitim almanız sağlanacaktır. Quiz 30 sorudan oluşmaktadır ve sorular çeşitli zorluk seviyelerindedir. <br> <br> Doğru cevaplarınıza göre bir hesaplama yapıldıktan sonra seviyeniz ya da bir üst seviyeye geçmeye hak kazanıp kazanmadığınız belirlenecektir. Quize bir üst seviyeye geçmek için  giriyorsanız sorular o bulunduğunuz seviyeye uygun olarak hazırlanmış demektir. Eğer ilk defa kayıt olduğunuz için giriyorsanız da sorular karışık olarak hazırlanmış olup verdiğiniz doğru cevaplara göre seviyeniz belirlenir ve belirlenen seviyeden eğitimlere başlarsınız. Dilerseniz de bir sonraki aşama quizine girerek üst seviyeye uygun olup olmadığınızı görebilirsiniz.  
                            </div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel"
                            aria-labelledby="list-messages-list">
                            <h4 class="mb-2">Quiz Kuralları</h4>
                        
                            Quiz hakkında bazı kurallar aşağıda verilmiştir. <b>Dikkatlice Okuyunuz: </b> 
                            <ul>
                                <br>
                                <li>Quizi bitirmeden herhangi bir anında çıkarsanız daha önceden vermiş olduğunuz cevaplar geçersiz sayılacaktır.</li>
                                <br>
                                <li>Quizde herhangi bir süre kısıtlaması bulunmamaktadır. Ancak yardım almadan çözünüz.</li>
                                <br>
                                <li>Quizi bitirdiğinizden emin olunuz. Quizin son sorusunu da çözdükten sonra butona tıklamayı unutmayınız. Aksi halde çözdüğünüz sorular geçersiz sayılacaktır.</li>
                                <br>
                                <li>Quizde cevap verip geçtiğiniz soruya dönüş bulunmamaktadır. Bu yüzden soruyu dikkatlice çözünüz ve geriye dönüşün olmadığını unutmayınız.</li>
                                <br>
                                 <li>Quize girmeden önce internet bağlantınızı kontrol ediniz. Bizden kaynaklı herhangi bir sorun yaşamanız durumunda <b>info@learnenglish.com</b>'a mail atabilirsiniz.</li>
                                <br>
                            </ul>
                            </div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel"
                            aria-labelledby="list-settings-list">
                             <h4 class="mb-5">Başlayalım!</h4>

                             <a href="/Quiz/ShowQuiz" class="btn btn-warning mb-3">Quize Başla</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>