
<div class="my-5">

        <div class="container">     
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success text-center">
                            <h4 class="p-2">Bilgilendirme:</h4>
                            <h5 class="container p-2 mb-3">

Derslere başlayabilmeniz için seviyenizi tespit etmek için hazırlanan quize girmeniz gerekmektedir. Başarılar!
                            </h5>
                            <div>
                        <a href="/" class="btn btn-primary">Ana Sayfa</a>
                        <a href="/Quiz/BeforeQuiz" class="btn btn-warning">Quize Gir</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>
