
@model IndexModel
   <main>
        <section id="showcase">
            <div class="content">
                <h2>LearnEnglish</h2>
                <h3> Keşfet, Öğren, Geliş: İngilizce Öğrenme Platformumuzla Dünya Dilini Öğrenin!

                </h3>
            </div>
        </section>

        <section id="how-it-works">
            <div class="container">
                <div class="row">
                    <h2 class="section-title">Platformda Seni Neler Bekliyor?</h2>
                    

                    <section id="movies">

                <div class="container">
                    <div class="row">
                        <div class="col-3m cardm-container">
                            <div class="cardm card">
                                <img class="cardm-image img-fluid" src="~/img/quiz.jpg" alt="">
                                <div class="cardm-body">
                                    <h2>Seviye Belirleme Sınavı</h2>
                                    <p>Seviyeni belirlemek ve uygun eğitimden faydalanmak için bu sınava katılırsınız. Seviyen belirlendikten sonra, size uygun olan eğitimle başlayarak aşama aşama ilerleme kaydedersiniz. Her seviye eğitimin sonunda yine o seviyeye uygun sınava girerek kendinizi test edebilirsiniz.</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-3m cardm-container">
                            <div class="cardm card">
                                <img class="cardm-image img-fluid" src="~/img/work.jpg" alt="">
                                <div class="cardm-body">
                                    <h2>Özgün Eğitim İçeriği</h2>
                                    <p>Özgün eğitim içeriği, günlük yaşamda sıkça kullanılan kelimelerden iş hayatında karşılaşabileceğin terminolojiye kadar geniş bir yelpazeyi kapsar. Her seviyeye uygun olarak tasarlanmış içeriklerle dil becerilerinizi geliştirmenize olanak tanıyoruz.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-3m cardm-container">
                            <div class="cardm card">
                                <img class="cardm-image img-fluid" src="~/img/work2.jpg" alt="">
                                <div class="cardm-body">
                                    <h2>İlerlemeni Takip Et</h2>
                                    <p>Profilinde ilerleme aşamlarını kontrol ederek hangi seviyede olduğunu görebilirsin. Bu sayede kendine özgü bir eğitim planı yapabilirsin.Tamamladığın dersler ile motive olabilir,dil öğrenme hedeflerine ulaşma sürecindeki ilerlemenin keyfini çıkarabilirsin. Vakit Kaybetmeden Başla!</p>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </section>

                </div>
            </div>


       <section id="counters">
            <div class="row counter">
                <div class="col-3m">
                    <span class="counter__item">6</span>
                    <h4>Seviye</h4>
                </div>
                <div class="col-3m">
                    <span class="counter__item">@Model.lessonQuantity</span>
                    <h4>İçerik</h4>
                </div>
                <div class="col-3m">
                    <span class="counter__item">@Model.userQuantity</span>
                    <h4>Kullanıcı</h4>
                </div>
            </div>
        </section>


            <div class="container">
                <div class="row">
                    <h2 class="section-title mt-4">Eğitimden Nasıl Yararlanabilirim?</h2>
                    <p>Öncelikle siteye üye olduktan sonra seviyeni belirlemek için hazırlanan quiz adımını tamamladıktan sonra eğitime başlayabilirsin.</p>
                    <div class="icon-box col-3m mt-4">
                        <i class="fas fa-sign-in-alt fa-3x"></i>
                        <h3 class="mt-3">Kayıt Ol</h3>
                        <p>İngilizce öğrenme platformuna zaman kaybetmeden kayıt ol ve eğitim serüvenine bir an önce başla.</p>
                    </div>
                    <div class="icon-box col-3m mt-4">
                        <i class="fa-solid fa-book fa-3x"></i>
                        <h3 class="mt-3">Eğitim İçeriği</h3>
                        <p>Seviyene uygun profesyonel ve özgün eğitim içeriği</p>
                    </div>
                    <div class="icon-box col-3m mt-4">
                        <i class="fa-solid fa-graduation-cap fa-3x"></i>
                        <h3 class="mt-3">Eğitim Sonu</h3>
                        <p>Eğitim tamamlandığında İngilizce okuyabilir ve konuşabilir seviyede olacaksın</p>
                    </div>
                </div>
            </div>

        </section>

  


    <section id="features" >
            <div class="row mb-5">
                <div class="col-2m features__left"></div>
                <div class="col-2m features__right">
                    <h3 class="mt-4 mb-3">Eğitim Seviyeleri</h3>
                   <p>
            Eğitim seviyeleri Avrupa Dil Portföyü (Common European Framework of Reference for Languages - CEFR) tarafından belirlenmiş A1, A2, B1, B2, C1 ve C2 olmak üzere altı tanedir. Kurs içeriğimiz de bu sevieyeler uygun olarak oluşturulmuş olup kişinin seviyesinden başlayarak en son seviyede son bulur. </p>
                    <a class="btn btn-primary mt-2" href="/account/login">Şimdi Başla</a>
                </div>
            </div>
        </section>


    </main>







