@* <h1>Confirm Email</h1> *@



<div class="my-3">

        <div class="container">     
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success text-center">
                            @* @ViewBag.Message *@
                            <h5 class="container p-4">

                            @ViewBag.Message
                            </h5>
                            <div>
                        <a href="/" class="btn btn-primary">Ana Sayfa</a>
                        <a href="/Account/Login" class="btn btn-warning">Giriş Yap</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>

