<div class="container text-center">
    <div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
        <div class="card text-center" style="width: 55vh; height: 40vh;">
            <div class="card-header h5 text-white bg-primary " >Şifreyi Yenile</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Mail adresini girdikten sonra şifreni yenilemen için mail göndereceğiz. 
                </p>
                <form method="POST" action="/Account/ForgotPassword" >
                <div class="form-outline"> <!-- form etiketi içine alarak düzenle-->
                    <label class="form-label d-flex justify-content-start mb-2" for="typeEmail">Email Adresi</label>
                    <input name="Email" type="email" id="typeEmail" class="form-control mb-2" />
                </div>
                <button type="submit" class="btn btn-outline-primary w-100 mt-4">Gönder</button>
                </form>
               
            </div>
        </div>
    </div>
</div>