 <section class="vh-75 mt-0" style="background-color: #e8f3f6;" >
    <div class="container h-50">
      <div class="row d-flex justify-content-center align-items-center h-100 mt-0 p-5">
        <div class="col-5 my-3">
          <div class="card text-black" style="border-radius: 25px; transform: none;">
            <div class="card-body p-md- ">
              <div class="row justify-content-center p-0">
                <div class="col-xl-12">

                  <p class="text-center h3 fw-bold mx-1 mt-4 mb-5">Kayıt Ol</p>

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-3 ">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Kullanıcı Adı</label>
                    </div>
                  </div>
@* 
                  <div class="d-flex flex-row align-items-center mb-3">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Your Name</label>
                    </div>
                  </div> *@

            

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c">Şifre</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Şifreyi Tekrarla</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-4">
                    <input class="form-check-input me-4" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3c">
                      Kullanım Koşullarını Kabul Ediyorum<a type="button" data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop" class="text-primary link">Kullanım şartları</a>
                    </label>
                    
                  </div>

                  @* <div class="d-flex justify-content-center mx- mb-3 mb-lg-0 mt-0">
                    <button type="button" class="btn btn-primary btn-lg">Register</button>
                  </div> *@
                  <div class="d-grid gap-1 mb-5 mt-5">
                  <button class="btn btn-primary" type="button">Kayıt Ol</button>
                  </div>

                </form>

              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Kullanım Koşulları</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                KİŞİSEL VERİLERİN KORUNMASI KANUNU KAPSAMINDA AÇIK RIZA BEYANI
                                LEARN ENGLISH HİZ.SAN.TİC.LTD. ŞTİ. (‘‘Şirket’’) tarafından, 6698 Sayılı Kişisel
                                Verilerin Korunması Kanunu’nun (“KVK Kanunu”) ilgili hükümlerine uygun olarak bilginize
                                sunulan Kişisel Verilerin Korunması Kanunu Kapsamında Genel Aydınlatma Metni ve Şirket
                                Kişisel Verilerin Korunması ve İşlenmesi Yönetmeliği çerçevesinde,
                                Kişisel verilerinin veri sorumlusu sıfatıyla Şirket veya gerekli güvenlik tedbirlerini
                                aldırmak suretiyle yetkilendirdiği veri işleyenler tarafından; Şirket’in müşterilerine
                                sunmuş olduğu ürün ve hizmetlerini en iyi koşullar altında sağlayabilmesi, ürün veya
                                hizmetlerin güvenilir ve kesintisiz bir şekilde temin edilmesi, müşteri memnuniyetinin
                                en üst seviyeye çıkarılması, ödemelerin yapılması, mezkûr hizmetlere ilişkin çeşitli
                                işlemlerin yerine getirilmesi, operasyonların yürütülmesi ve geliştirilmesi, mezkûr ürün
                                ve hizmetlerin veya farklı ürün ve hizmetlerin tanıtım, pazarlama, reklam ve kampanya
                                faaliyetlerinin yapılması, müşterilerin fırsatlardan, kampanyalardan ve sair
                                hizmetlerden haberdar edilmesi ve müşterilerle akdedilen sözleşmelerin gereklerinin
                                yerine getirilmesi amaçlarıyla doğrudan veya dolaylı olarak ilgili olan kimlik
                                bilgilerinin, ad  bilgilerinin, iletişim bilgilerinin ve sair kişisel verilerin; başta
                                mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar muhafaza edilme
                                ilkesi olmak üzere 6698 Sayılı Kişisel Verilerin Korunması Kanunu’nun (“KVK Kanunu”) 4.
                                maddesinde ifade edilen genel ilkelere uygun şekilde işlenebileceğini; elde
                                edilebileceğini, kaydedilebileceğini, işlenme amacıyla uygun süre zarfında fiziksel veya
                                elektronik ortamda güvenli bir şekilde depolanabileceğini, muhafaza edilebileceğini,
                                değiştirilebileceğini, yeniden düzenlenebileceğini, mevzuata uygun biçimde
                                açıklanabileceğini ve aktarılabileceğini, devralınabileceğini, sınıflandırılabileceğini,
                                işlenebileceğini ya da verilerin kullanılmasının engellenebileceğini; yukarıda
                                belirtilen hususlarla ilgili olarak Şirket tarafından bilgilendirildiğimi ve KVK Kanunu
                                çerçevesinde açık rızam bulunduğunu kabul ve beyan ederim.
                                İşbu kişisel verilerimin, yukarıda belirtilen amaçlarla bağlı kalmak kaydıyla, Şirket
                                tarafından; Şirket çalışanlarına, görevlilerine, grup şirketlerine (Şirket ve/veya iş
                                ortaklarına, hissedarlarına), kanunen yetkili kamu kurum ve kuruluşlarına,
                                faaliyetlerini yürütebilmek amacıyla, hukuki zorunluluklar ve yasal sınırlamalar
                                çerçevesinde bağımsız denetim şirketlerine, anket şirketlerine, tarafıma verilecek
                                hizmetlerin ve/veya faaliyetlerin yürütülmesi için Şirket’in hizmet aldığı veya birlikte
                                çalıştığı iş ortaklarına ve hizmet sağlayıcılarına aktarılabileceğini ve bu hususta açık
                                rızam olduğunu kabul ve beyan ederim.
                                Bununla birlikte, KVK Kanunu’nun 11.maddesi ve ilgili mevzuat uyarınca; Şirkete
                                başvurarak kendimle ilgili; kişisel veri işlenip işlenmediğini öğrenme, kişisel
                                verilerim işlenmişse buna ilişkin bilgi talep etme, kişisel verilerimin işlenme amacını
                                ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, yurt içinde veya yurt
                                dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme, kişisel verilerin eksik
                                veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme, işbu verilerin
                                işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerimin
                                silinmesini veya yok edilmesini isteme, bu düzeltme ve silinme taleplerinin kişisel
                                verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, işlenen verilerin
                                münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kendi aleyhime bir
                                sonucun ortaya çıkmasına itiraz etme, kişisel verilerimin kanuna aykırı olarak işlenmesi
                                sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarımın olduğunu
                                ve bu hakları kullanmak için kimliğimi tespit edici gerekli bilgiler ile kullanmayı
                                talep ettiğim hakkıma yönelik açıklamaları da içeren
                                talebimi http://www.elegantgiyim.com.tr adresindeki formu doldurarak ve formun imzalı
                                bir nüshasını Zafertepe Mahallesi İmam Gazali caddesi No:11 Kütahya adresinde bulunan
                                Şirket Müdürlüğü’ne kimliğimi tespit edici belgeler ile bizzat elden iletme yahut noter
                                kanalıyla veya KVK Kanunu’nda belirtilen diğer yöntemler ile iletme hakkına sahip
                                olduğumu kabul ediyorum.
                                Ayrıca, Şirket ile paylaşmış olduğum kişisel verilerin doğru ve güncel olduğunu; işbu
                                bilgilerde değişiklik olması halinde değişiklikleri Şirkete bildireceğimi kabul ve beyan
                                ederim.
                                KVK Kanunu’nda tanımlanan özel nitelikli kişisel verilerim de dahil olmak üzere ilgili
                                kişisel verilerimin işlenmesine, ilgili süreç kapsamında işlenme amacı ile sınırlı olmak
                                üzere kullanılmasına ve paylaşılmasına, gereken süre zarfında saklanmasına açık rızam
                                olduğunu ve bu hususta tarafıma gerekli aydınlatmanın yapıldığını; işbu metni, Şirket
                                Kişisel Verilerin Korunması ve İşlenmesi Yönetmeliğini ve Aydınlatma Metnini okuduğumu
                                ve anladığımı;
                                Kabul Ediyorum

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tamam</button>

                              </div>
                            </div>
                          </div>
                        </div>


