@* @model ResetPasswordModel

 <div class="container text-center">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card text-center" style="width: 50vh; height: 40vh;">
            <div class="card-header h5 text-white bg-black " style="background-color:black;">Şifreyi Yenile</div>
            <div class="card-body px-5">
               
                <form asp-controller="Account" asp-action="ResetPassword" method="POST" >
                <input type="hidden" asp-for="Token">
                <div class="form-outline"> 
                    <label class="form-label d-flex justify-content-start mb-2" asp-for="Email">Email Adresi</label>
                    <input asp-for="Email" class="form-control mb-2" />
                </div>
                <div class="form-outline"> 
                    <label class="form-label d-flex justify-content-start mb-2" asp-for="Password">Yeni Şifre</label>
                    <input asp-for="Password" class="form-control mb-2" />
                </div>

                <button type="submit" class="btn btn-outline-dark w-100 mt-4">Gönder</button>
                </form>
               
            </div>
        </div>
    </div>
</div> *@